.button {
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  // background: #835afd;

  background-color: #ff3cac;
  background-image: linear-gradient(139.44deg, #485bff 0%, #ff59f8 96.19%);
  // linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

  color: #fff;
  padding: 0 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;

  img {
    margin-right: 8px;
  }

  &.outlined {
    background: #835afd;
    border: 1px solid #835afd;
    color: #fff;

    @media (max-width: 600px) {
      width: 45%;
      margin-right: 10px;
    }

    
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  @media (max-width: 600px) {
    width: 40%;
    height: 35px;
    font-size: 13px;
  }

  
}
